$DesktopWidth:1110px;
@mixin BgColor($Color) {
    background-color: $Color;
}

.FlexHeader {
    width: $DesktopWidth;
    height: 56px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.FlexFullWidthBanner {
    height: 94vh;
    display: flex;
    align-items: center;
}

.GridFlagshipProduct {
    display: grid;
    grid-template-columns: 1fr $DesktopWidth 1fr;
    ul {
        grid-column-start: 2;
        grid-column-end: 3;
        padding: 60px 0 0 0;
    }
}