.ProductsList {
    padding: 60px 0 0 0;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-template-columns: $DesktopWidth/4 $DesktopWidth/4 $DesktopWidth/4 $DesktopWidth/4;
    >li {
        margin-bottom: 60px;
        grid-column: span 1;
        img {
            width: 255px;
            height: 255px;
            background: url('products4.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        h1 {
            text-align: left;
            font: normal normal 600 24px/36px SF Pro Text;
            letter-spacing: 0px;
            color: #000000;
        }
        p {
            text-align: left;
            font: normal normal 300 16px/24px SF Pro Text;
            letter-spacing: 0px;
            color: #000000;
        }
        span {
            margin-left: 10px;
            text-align: left;
            text-decoration: line-through;
            font: normal normal 300 16px/24px SF Pro Text;
            letter-spacing: 0px;
            color: #8D8D8D;
        }
        i:active,
        i:hover {
            color: #AC8A46;
            cursor: pointer;
        }
    }
    @include Mobile {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        >li {
            img {
                width: 165px;
                height: 165px;
            }
        }
        li:nth-child(even) {
            margin-left: 10px;
        }
    }
}

.FlexPaginationTool {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 60px;
    li {
        text-align: center;
        font: normal normal normal 20px/30px SF Pro Text;
        letter-spacing: 0px;
    }
    li:not(:first-child) {
        margin-left: 20px;
    }
    li:active,
    li:hover {
        color: #AC8A46;
        text-decoration: underline;
        cursor: pointer;
    }
}