.FlexFullWidthBanner {
    display: flex;
    align-items: center;
}

.GridProducts {
    display: grid;
    grid-template-columns: 1fr $DesktopWidth 1fr;
    >ul {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    @include Mobile {
        grid-template-columns: 1fr;
        >ul {
            grid-column-start: unset;
            grid-column-end: unset;
            margin: 32px 15px 0 15px;
            li {
                margin-bottom: 36px;
            }
        }
    }
}

.GreyBg {
    background-color: #E0E0E0;
}