.FlexFullWidthBanner {
    display: flex;
    align-items: center;
}

.GridProducts {
    display: grid;
    grid-template-columns: 1fr $DesktopWidth 1fr;
    >ul {
        grid-column-start: 2;
        grid-column-end: 3;
        padding: 60px 0;
    }
    @include Mobile {
        grid-template-columns: 1fr;
        >ul {
            grid-column-start: unset;
            grid-column-end: unset;
            padding: 40px 0 0 0;
        }
    }
}

.GreyBg {
    background-color: #E0E0E0;
}