    $DesktopWidth:1110px;
    @mixin BgColor($Color) {
        background-color: $Color;
    }
    
    @mixin Mobile {
        @media (max-width: 568px) {
            @content
        }
    }
    
    img {
        margin: 0 auto;
    }
    
    .FlexHeader {
        width: $DesktopWidth;
        height: 56px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include Mobile {
            width: 100%;
            h1 {
                margin-left: 14px;
            }
        }
    }
    
    .FlexFooter {
        >div {
            width: $DesktopWidth;
            margin: 0 auto;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        @include Mobile {
            >div {
                width: 100%;
            }
        }
    }
    
    .FlexCategoryMenu {
        ul {
            align-items: center;
            display: flex;
            margin: 0 auto;
            width: $DesktopWidth;
        }
    }
    
    .HamburgerMenu {
        margin-right: 14px;
        display: none;
        @include Mobile {
            display: inline-block;
        }
    }