$DesktopWidth:1110px;
@mixin BgColor($Color) {
    background-color: $Color;
}

.FlexHeader {
    width: $DesktopWidth;
    height: 56px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.FlexFooter {
    >div {
        width: $DesktopWidth;
        margin: 0 auto;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.FlexCategoryMenu {
    ul {
        align-items: center;
        display: flex;
        margin: 0 auto;
        width: $DesktopWidth;
    }
}